<%= form_with model: @user do |form| %>
  <div class="mb-3">
    <%= form.label :email, class:"form-label" %><br>
    <%= form.text_field :email, class:"form-control", placeholder: 'example@example.com' %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :username, class:"form-label", value:'Your user name here' %><br>
    <%= form.text_field :username, class:"form-control" %><br>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class:"form-label" %><br>
    <%= form.password_field :password, class:"form-control" %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create user", class: "btn btn-primary" %>
  </div>
<% end %>


<%# <h1>New Article</h1>

<form action="/users" method="POST" accept-charset="UTF-8" data-turbo=false>
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]"><br><br>
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[name]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %> <%# "
<%#  >
#  <input type="submit" value="Submit">
# </form> %>
