<%= form_tag do %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "password") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Add new User") %>
<% end %>

<%# <h1>New Article</h1>

<form action="/users" method="POST" accept-charset="UTF-8" data-turbo=false>
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]"><br><br>
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[name]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
<%#  >
#  <input type="submit" value="Submit">
# </form> %>
